body {
  margin: 0;
  padding: 0;
  background: #ada6a6;
  background-size: cover;
  font-family: sans-serif;
}
.title {
  position: absolute;
  /* width: 1250px;
    height: 187px; */
  /* top: 16px;
    left: 12px; */
  width: 100%;
  height: 20%;
  top: 2%;
  left: 2%;
  right: 2%;
  background-color: #dd8339;
}
.title .titlename {
  margin-top: 10px;
  margin-left: 30px;
  padding: 0;
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
}
.loginbox {
  width: 320px;
  height: 420px;
  background: #f5a6a6;
  color: #000000;
  top: 50%;
  left: 23.5%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.avatar {
  width: 100px;
  height: 100px;
  background: #f5a6a6;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #ffffff;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
.login a:hover {
  color: #ffc107;
}

/* Images  */
.image-slider {
  width: 50%;
  height: 75%;
  position: absolute;
  top: 100px;
  left: 48%;
  overflow: hidden;
  border-radius: 15px;
}

.image-slider img {
  border-radius: 15px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  animation: imageSlider 120s infinite;
}
.active {
  opacity: 1;
}
@keyframes imageSlider1 {
  0%,
  2.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  5%,
  7.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  10% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes imageSlider2 {
  0%,
  12.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  15%,
  17.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  20% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes imageSlider3 {
  0%,
  22.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25%,
  27.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  30% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes imageSlider4 {
  0%,
  32.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  35%,
  37.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  40% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes imageSlider5 {
  0%,
  42.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  45%,
  47.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes imageSlider6 {
  0%,
  52.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  55%,
  57.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  60% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes imageSlider7 {
  0%,
  62.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  65%,
  67.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  70% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes imageSlider8 {
  0%,
  72.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  75%,
  77.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  80% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes imageSlider9 {
  0%,
  82.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  85%,
  87.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  90% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes imageSlider10 {
  0%,
  92.5% {
    transform: translateX(-100%);
    opacity: 0;
  }
  95%,
  97.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
.slider-image:nth-child(1) {
  animation: imageSlider1 20s infinite;
}

.slider-image:nth-child(2) {
  animation: imageSlider2 20s infinite;
}

.slider-image:nth-child(3) {
  animation: imageSlider3 20s infinite;
}

.slider-image:nth-child(4) {
  animation: imageSlider4 20s infinite;
}
.slider-image:nth-child(5) {
  animation: imageSlider5 20s infinite;
}
.slider-image:nth-child(6) {
  animation: imageSlider6 20s infinite;
}
.slider-image:nth-child(7) {
  animation: imageSlider7 20s infinite;
}
.slider-image:nth-child(8) {
  animation: imageSlider8 20s infinite;
}
.slider-image:nth-child(9) {
  animation: imageSlider9 20s infinite;
}
.slider-image:nth-child(10) {
  animation: imageSlider10 20s infinite;
}
/* end */

/* Exit button */
.Exit {
  top: 5%;
  left: 2%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.Exit button[id="exitButton"] {
  border: none;
  outline: none;
  height: 40px;
  background: #ffffff;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
}
.Exit button[id="exitButton"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
/* End */

.pagetitle {
  width: 100%;
  height: 2%;
  top: 2%;
  left: 2%;
  right: 2%;
  background-color: #dd8339;
  color: #ffffff;
}

/* Landlord page */


/* Tenant page */
.fileupload {
  top: 10%;
  position: absolute;
}